.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


div.container.buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.nav-link:focus {
  scale: 1.1;
  transition: 0.3s;
  background-color: #dc3545;
  color: rgb(255, 255, 255);
}

.nav-link:hover {
  scale: 1.1;
  transition: 0.3s;
  background-color: #dc3545;
  color: rgb(255, 255, 255);
  }

.nav-link{
  color: rgb(255, 255, 255);
}

/* .card:hover{
  scale: 1.1;
  transition: 0.3s;
  background-color: #212529;
  color: rgb(255, 255, 255);
} */

.btn-danger:hover{
  scale: 1.1;
  transition: 0.3s;
  background-color: #dc3545;
  color: rgb(255, 255, 255)
}


.card{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-style: solid;
}


body{
  background-color:rgb(255, 255, 255);
}

.newstitles{
  color: #000000;
  margin-top: 5rem;
}
